
.site-box{
    position: relative;
    width: 1226px;
    margin-left: 60px;
    background-color: #f5f5f5;
    margin-bottom: 310px;
}
.box-hd{
    position: relative;
    height: 58px;
}
.title{
    margin-top: 22px;
    font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333333;
    text-align: left;

}
.more{
    position: absolute;
    top: 0;
    right: 0;
}
.more-link{

    font-size: 16px;
    line-height: 58px;
    color: #424242;
    transition: all .4s;
}
.more-link .iconfont{

    padding:4px;
    margin-left: 4px;
    border-radius: 10px;
    font-size: 10px;
    line-height: 12px;
    background: #b0b0b0;
    color: #fff;
    vertical-align: 1px;
    transition: all .4s;
}
.more-link:hover{
    color: #ff6700;
}
.more-link:hover .iconfont{
    background: #ff6700;
}

.box-bd{
    position: relative;
    width: 1226px;
    height: 628px;
}

.box-bd-left{
    width: 234px;
    height: 614px;
    float: left;
}
.box-bd-right{
    width: 992px;
    height: 614px;
    float: left;
}
.items{
    width: 234px;
    height: 300px;
    background-color: #fff;
    float: left;
    margin-left: 14px;
    margin-bottom: 14px;
}
.goods-img{
    width: 160px;
    height: 160px;
    margin-bottom: 18px;
}
.items:hover{

    box-shadow: 0px 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
    transition: all .5s,linear;
}
.img:hover{
    box-shadow: 0px 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}
.goods-name,.goods-desc{
    width: 214px;
    margin: 0 auto;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.goods-name{
    height: 21px;
    font-size: 14px;
    color: #333;
    margin-bottom: 2px;
}

.goods-desc{
    height: 18px;
    font-size: 12px;
    color: #b0b0b0;
    margin-bottom: 10px;
}
.goods-price{
    font-size: 14px;
    color: #ff6700;
}
.good-price-d{
    text-decoration: line-through;
    font-size: 10px;
    color: #b0b0b0;
}

.tab-list{
    float: right;
}
.tab-list>li{
    float: left;
    color: #424242;
    font-size: 16px;
    margin-left: 30px;
    line-height: 24px;
    margin-top: 16px;
}
.tab-list>.tab-active{
    color: #ff6700;
    border-bottom: 2px solid #ff6700;
}
.items1{
    margin-left: 0;
}
.goods-price>del{
    color: #b0b0b0;
    margin-left: 7px;
}
.items2{
    width: 234px;
    height: 300px;
    float: left;
    margin-left: 14px;
}
.items2>div{
    width: 234px;
    height: 143px;
    background-color: #fff;
    margin-bottom: 14px;
    transition: all .2s linear;
    padding-top: 40px;
    box-sizing: border-box;
}
.items2-text{
    width: 94px;
    float: left;
    margin-left: 30px;
    text-align: left;
}

.items2 img{
    float: left;
    width: 80px;
    position: relative;
    top: -10px;
}
.items2-price{
    font-size: 12px;
    color: #ff6700;
}
.items2-desc{
    font-size: 16px;
    color: #333;

}
.items2-desc1{
    font-size: 12px;
    color: #757575;
}
.hide{
    display: none;
}

.items2>div:hover{
    box-shadow: 0px 15px 30px rgba(0,0,0,.1);
    transform: translate3d(0,-2px,0);
}

.banner-img{
    margin-top: 648px;
}
.box-bb{
    width: 1226px;
    height: 120px;
    margin-top: 22px;
    overflow: hidden;
}
.box-video{
    position: absolute;
    width: 1226px;
    height: 285px;

}
.video-item{
    position: relative;
    float: left;
    width: 296px;
    height: 285px;
    margin-left: 14px;
    text-align: center;
    background: #fff;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
}
.video-item:first-child{
    margin-left: 0px;
}
.video-item-img{
    position: relative;
    width: 296px;
    height: 180px;
    margin: 0 0 28px;
}

.video-item-img img{
    width: 296px;
    height: 180px;
    border: 0;
}
.play{
    position: absolute;
    left: 20px;
    bottom: 10px;
    width: 32px;
    height: 20px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #424242;
    background-color: rgba(0,0,0,.6);
    color: #fff;
    -webkit-transition: all .2s;
    transition: all .2s;
    overflow: hidden;
}
.video-item-title{
    margin: 0 14px 6px;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: #333;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-item-desc{
    height: 18px;
    margin: 0 14px;
    font-size: 12px;
    color: #b0b0b0;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.video-item-img:hover span{
    background-color: #ff6700;
}

.video-item:hover{
    z-index: 2;
    -webkit-box-shadow: 0 15px 30px rgba(0,0,0,.1);
    box-shadow: 0 15px 30px rgba(0,0,0,.1);
    -webkit-transform: translate3d(0,-2px,0);
    transform: translate3d(0,-2px,0);
}