.site-footer{
    width: 100%;
    height: 500px;
    background-color: #fff;
}
.site-footer-serves{
    width: 100%;
    height: 25px;
    line-height: 25px;
    padding: 27px 0;
    border-bottom: 1px solid #e0e0e0;
}
.site-footer-serves li{
    float: left;
    width: 19.8%;
    border-right: 1px solid #e0e0e0;
}
.site-footer-serves li:last-child{
    border-right: none;
}
.site-footer-serves a{
    color: #616161;
    font-size: 16px;
    transition: all .2s;
}
.site-footer-serves i{
    font-size: 22px;
    margin-right: 4px;
}
.site-footer-serves a:hover{
    color: #ff6700;
}
.site-footer-links{
    width: 100%;
    height: 112px;
    padding: 40px 0;
}

.site-footer-links>ul{
    float: left;
    width: 160px;
    text-align: left;
}
.site-footer-links li{
    height: 18px;
    margin-top: 10px;
}
.site-footer-links li:first-child{
    margin-top: -1px;
    margin-bottom: 26px;
    height: 17px;
    color: #424242;
}
.site-footer-links a{
    color: #757575;
    font-size: 12px;
}
.site-footer-links a:hover{
    color: #ff6700;
}
.col-contact{
    float: right;
    width: 251px;
    border-left: 1px solid #e0e0e0;
    text-align: center;
    color: #616161;
}

.col-contact .phone{
    font-size: 22px;
    line-height: 1;
    color: #ff6700;
}
.col-contact p{
    margin: 0 0 5px 0;
    font-size: 12px;
}
.site-footer-btn{

    display: inline-block;
    width: 100px;
    height: 30px;
    padding: 0;
    margin: 0;
    border: 1px solid #ff6700;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all .4s;
    transition: all .4s;
    background-color: #fff;
}
.site-footer-btn p{
    color: #ff6700;
}
.site-footer-btn:hover{
    background-color: #f25807;
    border-color: #f25807;
}
.site-footer-btn:hover p{
    color: #ffffff;
}
.site-follow{
    font-size: 12px;
    margin-top: 10px;
    position: relative;
}
.site-follow a{
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 6px;
    margin-top: -3px;
}
.wb{
    background: url(//cnbj1.fds.api.xiaomi.com/staticsfile/global/wb.png) 50% 0 no-repeat;
    background-size: cover;
}
.wx{
    background: url(//cnbj1.fds.api.xiaomi.com/staticsfile/global/wx.png) 50% 0 no-repeat;
    background-size: cover;
}
.wb:hover{
    background-image: url(//cnbj1.fds.api.xiaomi.com/staticsfile/global/wb@2x.png);
}.wx:hover{
     background-image: url(//cnbj1.fds.api.xiaomi.com/staticsfile/global/wx@2x.png);
}

.site-footer-b{
    position: relative;
    width: 100%;
    height: 100px;
    font-size: 14px;
    color: #b0b0b0;
    background: #fff;
    margin-top: 30px;
}
.site-b-list{
    float: left;
    height: 40px;
    line-height: 40px;
}
.site-footer-b  a{
    color: #757575;
    line-height: 40px;
    display: inline-block;
}
.site-footer-b a:hover{
    color: #ff6700;
}

.site-bottom{
    float: left;
    height: 40px;
    line-height: 40px;
    margin-top: 100px;;
}